* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #DED797;
    font-family: 'Ubuntu', sans-serif;
}

.container h1 {
    margin: 30px 20px;
    text-align: center;
}

.alphabet ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}


.char {
    width: 40px;
    height: 40px;
    background-color: #31595E;
    color: #DED797;
    border-radius: 5px;
    margin: 10px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.char:hover {
    background-color: rgb(81, 125, 131);
}

.wrapper {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}


.category {
    margin-bottom: 30px;
}

.word {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
}

.guessChar {
    list-style-type: none;
    width: 25px;
    font-size: 20px;
    margin: 0 15px;
    height: 30px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
}

.guessChar::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 25px;
    height: 1.5px;
    background-color: black;
}

.resultWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result,
.hint {
    text-align: left;
    font-size: 20px;
    flex-basis: 70%;
    margin-top: 15px;
}

.livesNumber {
    font-weight: bold;
}

.newGame,
.showHint {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin: 10px auto;
    background-color: #31595E;
    cursor: pointer;
}

.newGame:hover,
.showHint:hover {
    background-color: #609aa1;
}

@media (max-width: 990px) {
    .char {
        margin: 5px;
    }

    .column:nth-child(1) {
        flex-basis: 90%;
        flex-direction: row;
    }

    .column:nth-child(2) {
        flex-direction: column;
        flex-basis: 80%;
        margin: 10px auto 20px;
    }
}